@-webkit-keyframes twinkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes twinkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes twinkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-o-keyframes twinkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes twinkle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes vacuum {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    80% {
        -webkit-transform: scale(0.1) rotateZ(540deg);
        transform: scale(0.1) rotateZ(540deg);
    }
    100% {
        -webkit-transform: scale(1.1) rotateZ(720deg);
        transform: scale(1.1) rotateZ(720deg);
    }
}

@-moz-keyframes vacuum {
    0% {
        -moz-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    80% {
        -moz-transform: scale(0.1) rotateZ(540deg);
        transform: scale(0.1) rotateZ(540deg);
    }
    100% {
        -moz-transform: scale(1.1) rotateZ(720deg);
        transform: scale(1.1) rotateZ(720deg);
    }
}

@-ms-keyframes vacuum {
    0% {
        -ms-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    80% {
        -ms-transform: scale(0.1) rotateZ(540deg);
        transform: scale(0.1) rotateZ(540deg);
    }
    100% {
        -ms-transform: scale(1.1) rotateZ(720deg);
        transform: scale(1.1) rotateZ(720deg);
    }
}

@-o-keyframes vacuum {
    0% {
        -o-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    80% {
        -o-transform: scale(0.1) rotateZ(540deg);
        transform: scale(0.1) rotateZ(540deg);
    }
    100% {
        -o-transform: scale(1.1) rotateZ(720deg);
        transform: scale(1.1) rotateZ(720deg);
    }
}

@keyframes vacuum {
    0% {
        transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(0.1) rotateZ(540deg);
        transform: scale(0.1) rotateZ(540deg);
    }
    100% {
        transform: scale(1) rotateZ(720deg);
        transform: scale(1) rotateZ(720deg);
    }
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
