.badges-container{
    font-size: 0.8em;
    width: 90%;
    max-width: 1140px;
    margin: 2em auto;
    text-align: center;

    & h2{
        text-align: left;
    }
}

.badge{
    border: none;
    border-radius: 4px;
    max-width: 500px;
    margin: 0;
    padding: 2rem;
    position: unset;
    quotes: unset;
    display: inline-block;
}

.badge-link{}

.badge-image{
    width: 80px;
    height: 80px;
}

.badge-name{
    color: $badges-text;
    margin: 0;
}
