$website: rgb(50, 50, 50);
$facebook: #3B5998;
$linkedin: #0077B5;
$github: #24292E;

/*--- General ---*/
$background: white;
$text: black;
$text-shadow: black;
$link: #285aaf;
$link-hover: darken($link, 15%);

$background-alt: #323232;
$text-alt: white;
$icons-alt: #828282;

/*--- Menu ---*/
$branding-edge: black;
$branding-link: white;
$branding-link-hover: white;
$menu-background: $website;
$menu-text: white;
$menu-border: black;
$menu-link: white;
$menu-link-hover: lighten($link, 15%);

/*--- Banner ---*/
$banner-text: white;
$banner-edge: black;

/*--- Main ---*/

$image-border: rgb(120, 120, 120);
