$blue: rgb(0, 80, 200);

/*--- General ---*/
$text-shadow: black;

/*--- Menu ---*/
$branding-edge: black;
$branding-link: white;
$branding-link-hover: white;
$menu-background: rgb(50, 50, 50);
$menu-text: white;
$menu-border: black;
$menu-link: white;
$menu-link-hover: lighten($blue, 15%);

/*--- Banner ---*/
$banner-text: white;
$banner-edge: black;

/*--- Main ---*/
$image-border: rgb(120, 120, 120);
