@font-face {
	font-family: "Dragonforce";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/dragonforce.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}
