.main{
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 2em;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#mugshot{
    grid-column: 1;
}

#about{
    font-family: "Open Sans", "Titillium Web", sans-serif;
    grid-column: 2/5;

    & h2{
        display: none;
    }

    & .icons-about{
        color: $icons-alt;
    }
}

#works{
    grid-column: 1/5;
}

#studentship{
    grid-column: 1/5;
}

#skills{
    grid-column: 1/3;
}

#interests{
    grid-column: 3/5;
}

#personnality{
    margin-top: 2rem;
    font-size: 0.85rem;
}

.section-title{
    margin: 0 0 1em 0;
}

.section-list{
    margin: 1em 0;
    padding-left: 1.5em;
}

.section-list-item{
    margin: 1em 0;
    line-height: 1.5em;
}

.inline-title{
    display: inline-block;
    margin: 0;

    &::after{
        content: " :";
        display: inline-block;
        margin: 0 0.25em;
    }
}

.personnal-info{
    margin: 0.25em 0;
    line-height: 1.25em;
}

.mugshot{
    border: 5px solid $image-border;
    border-radius: 50%;
    transition: border-radius 500ms ease, border 500ms ease;
    &:hover{
        border-radius: 1em 0;
        transition: border-radius 500ms ease, border 500ms ease;
    }
}

.personnal-info:first-of-type{
    margin: 1em 0;
}
