/* ------------ External Imports ------------ */
@import "normalize";

/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- Fonts ------- */
@import "fonts";

/* ------- Animations ------- */
@import "animations";

/* ------- General Styles -------*/
html{
    color: $text;
    background-color: $background;
    font-size: $base-text-size;
    font-family: "Titillium Web", "Open Sans", sans-serif;
}

h1, .banner-title{
    font-family: "Dragonforce", sans-serif;
}

h2, h3, h4, h5, h6{
    font-family: "Amaranth", sans-serif;
}

h2{
    font-size: 1.5rem;
}

.hide{
    font-size: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.uppercase{
    text-transform: uppercase;
}

a{
    color: $link;
    transition: color 500ms ease;
    &:hover, &:focus{
        color: $link-hover;
        transition: color 500ms ease;
    }
}

.icons{
    margin-right: 0.5em;
}

.emphasis{
    font-weight: bold;
    font-size: 1.5em;
}

@import "menu";
@import "banner";
@import "main";
@import "experience";
@import "backToTop";
@import "footer";
@import "badges";
